festival.dtd

<!-- festival
в”њв”Ђв”Ђ nombre
в”њв”Ђв”Ђ ciudad
в”њв”Ђв”Ђ fecha
в”њв”Ђв”Ђ lugar
в”њв”Ђв”Ђ actividades
в”‚   в””в”Ђв”Ђ actividad
в”‚       в”њв”Ђв”Ђ titulo
в”‚       в”њв”Ђв”Ђ descripcion
в”‚       в”њв”Ђв”Ђ hora
в”‚       в””в”Ђв”Ђ precio
в”њв”Ђв”Ђ precio
в””в”Ђв”Ђ contacto -->


<!ELEMENT festival (nombre, ciudad, fecha, lugar, actividades, contacto)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT lugar (#PCDATA)>

<!ELEMENT actividades (actividad+)>

<!ELEMENT actividad (titulo, descripcion, hora, precio)>
<!ATTLIST actividad
    id ID #REQUIRED
    tipo (robotica | videojuegos | ia | realidad_virtual | programacion) #REQUIRED
>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT precio (#PCDATA)>

<!ELEMENT contacto (email, telefono)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>

